.sign-in{
   
    position: fixed;
    top:0;left:0;bottom:0;right:0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out;
    background: rgba(0,0,0,0.3);
    &.show{
        visibility: visible;
        opacity: 1;
    }
    .inner{
        background-color: #fff;
        max-width:500px;
        width: 100%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 20px;
        .title{
            margin:10px 0;
        }
        .auth-button{
            overflow: hidden;
            padding:40px 0;
            border-bottom:1px solid #333;
        }
        .btn-close{
            position: absolute;
            top:10px;
            right:10px;
        }
    }
   
    
}