.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: url(../../assets/images/bg_pattern.jpg) repeat;
    z-index: 999;
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
       
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  .popup-area{position: absolute;}