.create-word{
    margin-bottom:40px;
    .create-word-inner{
        position: relative;
        border: 1px solid #000;
        box-sizing: border-box;
        padding: 25px 30px;
    }
    
}
.btnStudy{
    position: fixed;
    bottom:5px;
    left:50%;
    margin-left:-83px
}